html {
  font-weight: normal;
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: 1025px) {
    font-size: 16px;
  }
}

body {
  background-color: #24262a;
  color: #fff;
  text-align: center;
}

.content-container {
  margin: 0 auto;
  max-width: 70rem;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.white {
  color: #fff;
}

.nav .content-container {
  text-align: left;
}

.nav ul {
  background-color: #24262a;
}

.nav li {
  float: left;
}

.nav a,
.nav a:hover,
.nav a:focus {
  color: #fff;
  display: block;
  padding: 1rem;
}

.nav li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.banner {
  background-color: #353c4b;
  padding: 3rem 1rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353c4b+0,24262a+100 */
  background: #353c4b; /* Old browsers */
  background: -moz-linear-gradient(top,  #353c4b 0%, #24262a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #353c4b 0%,#24262a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #353c4b 0%,#24262a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353c4b', endColorstr='#24262a',GradientType=0 ); /* IE6-9 */
}

.banner h2,
.banner h1,
.struggle h2,
.content-container h3 {
  /*font-family: sans-serif;*/
  font-family: 'Gloria Hallelujah', sans-serif;
  /*font-weight: 300;*/
}

.banner h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.banner h1 {
  font-size: 2.5rem;
}

.main { text-align: center; }

.main .content-container {
  background-color: #353c4b;
  border-radius: 1rem;
  display: inline-block;
  margin: 0 0.5rem;
  padding: 1.5rem;
  text-align: left;
  width: calc(100% - 1rem);
}

.main .content-container img {
  margin: 1rem 0;
  max-width: 15rem;
  max-height: 4rem;
}

.main .content-container .tab img {
  border-radius: 4px;
  float: right;
  margin: 0.5rem 0 0.5rem 1rem;
  max-width: 25rem;
  max-height: 15rem;
}

.footer {
  padding: 1rem;
}

.footer,
.footer a,
.footer a:focus,
.content-container a,
.content-container a:focus {
  color: rgba(255, 255, 255, 0.75);
}

.content-container a:hover,
.footer a:hover {
  color: #fff;
}

.footer h6 {
  font-weight: bold;
  margin: 0.75rem 0 0.4rem;
}

.btn,
.btn:focus {
  background-color: #556fa4;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  /*margin-top: 0.5rem;*/
  margin: 0.5rem 0 1rem;
  padding: 0.5rem 1rem;
}

.btn:hover {
  background-color: #6f8ac0;
  color: #fff;
}

.btn-group .btn:not(.active),
.btn-group .btn:not(.active):focus {
  background-color: #4a5c81;
  color: rgba(255, 255, 255, 0.8);
}

.btn-group .btn:not(.active):hover {
  background-color: #556fa4;
  color: #fff;
}

.btn-group .btn.active {
  background-color: #353c4b;
  text-decoration: underline;
}

.hidden { display: none; }

@media (min-width: 641px) {
  .hide-for-medium,
  .nav a.hide-for-medium {
    display: none;
  }

  .footer .content-container {
    text-align: left;
  }

  .banner h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .banner h1 {
    font-size: 5rem;
  }

  .footer .locations li {
    float: left;
    width: 50%;
  }

  .btn-group .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
  }
}

@media (max-width: 640px) {
  .main .content-container {
    padding: 1rem;
  }

  .main .content-container .tab img {
    display: block;
    float: none;
    margin: 1rem auto;
    max-width: 100%;
    text-align: center;
  }

  .hide-for-small-only {
    display: none;
  }

  .nav li { float: none; }
  .nav a { width: 100%; }

  .btn-group .btn {
    margin: 0 0 0.25rem;
    width: 100%;
  }
}
