{% extends "articles/base.html" %}
{% load article_tags %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
{% if user.is_staff %}
{% wagtailuserbar %}
{% endif %}

<div class='banner articles-font article-page'>
  <div class='content-container'>
    <h1>{{ page.title }}</h1>
    <h4>{{ page.date }} by {{page.author }}</h4>
  </div>
</div>
<div class='main row articles-font'>
  <div class='content-container article columns'>
    {{ page.body }}
  </div>
  <div class='content-container columns medium-4'>
    <h4>Recent Articles</h4>
    {% get_articles as articles %}
    {% for article in articles %}
      <hr>
      <a href="/articles/{{ article.slug }}">
        <h5>{{ article.title }}</h5>
        <h6>{{ article.date }}</h6>
      </a>
    {% endfor %}
  </div>
</div>

{% comment %}
<div style='text-align: left;'>
  <div class="row">
    <div class="medium-offset-2 medium-8 columns">
      <h1>{{ page.title }}</h1>
      <p>{{ page.date }} - By: {{ page.author }}</p>
      {{ page.body }}
    </div>
    <div class="medium-2 columns">
      <h3>Articles</h3>

      <ul>
      {% get_articles as articles %}
      {% for article in articles %}
        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endcomment %}
{% endblock %}
