<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metadescription%}{% endblock %}">
    <meta name="keywords" content="{% block metakeywords%}{% endblock %}">
    <meta name="title" content="{% block metatitle%}{% endblock %}">
    <title>{% block title %}How to kill yourself{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href={% static "css/foundation.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/font-awesome.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/app.css" %}>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <div class='footer'>
      <div class='content-container'>
        <div class='row'>
          <div class='columns small-12 medium-4'>
            <h6>Internal Informational Links (pages with infographics?)</h6>
            <ul>
              <li>
                Link 1
              </li>
              <li>
                Link 2
              </li>
              <li>
                Link 3
              </li>
            </ul>
          </div>
          <div class='columns small-12 medium-4'>
            <h6>Internal Links to Pages with Geography Based Resources</h6>
            <ul>
              <li>
                Link 4
              </li>
              <li>
                Link 5
              </li>
            </ul>
          </div>
          <div class='columns small-12 medium-4'>
            <h6>Contact us</h6>
            <ul>
              <li>
                james@faithtech.ca
              </li>
            </ul>
          </div>
      </div>
    </div>

    {% load staticfiles %}
    <script src={% static "js/vendor/jquery.js" %}></script>
    <script src={% static "js/vendor/what-input.js" %}></script>
    <script src={% static "js/vendor/foundation.min.js" %}></script>
    <script src={% static "js/app.js" %}></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-38994707-3', 'auto');
    ga('send', 'pageview');
    </script>
  </body>
</html>
