<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Amatic+SC|Gloria+Hallelujah" rel="stylesheet">
    <title>A Good SEO Page Title Here</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href={% static "css/foundation.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/font-awesome.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/app.css" %}>
    <script src={% static "js/vendor/jquery.js" %}></script>
    <script src={% static "js/vendor/what-input.js" %}></script>
    <script src={% static "js/vendor/foundation.min.js" %}></script>
    <script src={% static "js/app.js" %}></script>
  </head>
  <body>
    <div class='nav'>
      <div class='content-container'>
        <ul>
          <li><a href='#'>Other Resources</a></li>
          <li><a href='#'>Why This</a></li>
          <li><a href='#'>Some third link</a></li>
        </ul>
      </div>
    </div>
    {% block content %}
    {% endblock %}
    <div class='footer'>
      <div class='content-container'>
        <div class='row'>
          <div class='columns small-12 medium-4'>
            <h6>Internal Informational Links (pages with infographics?)</h6>
            <ul>
              <li>
                Link 1
              </li>
              <li>
                Link 2
              </li>
              <li>
                Link 3
              </li>
            </ul>
          </div>
          <div class='columns small-12 medium-4'>
            <h6>Internal Links to Pages with Geography Based Resources</h6>
            <ul>
              <li>
                Link 4
              </li>
              <li>
                Link 5
              </li>
            </ul>
          </div>
          <div class='columns small-12 medium-4'>
            <h6>Contact us</h6>
            <ul>
              <li>
                james@faithtech.ca
              </li>
            </ul>
          </div>
      </div>
    </div>
  </body>
</html>
