<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Amatic+SC|Gloria+Hallelujah" rel="stylesheet">
    {% block meta %}{% endblock %}
    <title>{% block title %}How to kill yourself{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href={% static "css/foundation.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/font-awesome.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/app.css" %}>
    <script src={% static "js/vendor/jquery.js" %}></script>
    <script src={% static "js/vendor/what-input.js" %}></script>
    <script src={% static "js/vendor/foundation.min.js" %}></script>
    <script src={% static "js/app.js" %}></script>
  </head>
  <body>
    <div class='nav'>
      <div class='content-container'>
        <a tabindex='0' onclick='navClick()' class='hide-for-medium'>
          <i class='fa fa-bars'></i>
        </a>
        <ul class='hide-for-small-only'>
          <li><a href='/'>Home</a></li>
          <li><a href='/why/'>Tell us why</a></li>
          <li><a href='/resources/'>Resources</a></li>
          <li><a href='/chat/'>Chat</a></li>
        </ul>
      </div>
    </div>
    {% block content %}
    {% endblock %}
    <div class='footer'>
      <div class='content-container'>
        <div class='row'>
          <div class='columns small-12 medium-8'>
            <h6>Locations</h6>
            <ul class='locations'>
              <li>
                <a href='/province/alberta'>Alberta</a>
              </li>
              <li>
                <a href='/province/british_columbia'>British Columbia</a>
              </li>
              <li>
                <a href='/province/manitoba'>Manitoba</a>
              </li>
              <li>
                <a href='/province/new_brunswick'>New Brunswick</a>
              </li>
              <li>
                <a href='/province/newfoundland'>Newfoundland</a>
              </li>
              <li>
                <a href='/province/nova_scotia'>Nova Scotia</a>
              </li>
              <li>
                <a href='/province/nunavut'>Nunavut</a>
              </li>
              <li>
                <a href='/province/ontario'>Ontario</a>
              </li>
              <li>
                <a href='/province/pei'>PEI</a>
              </li>
              <li>
                <a href='/province/quebec'>Québec</a>
              </li>
              <li>
                <a href='/province/saskatchewan'>Saskatchewan</a>
              </li>
              <li>
                <a href='/province/yukon'>Yukon</a>
              </li>
            </ul>
          </div>
          <div class='columns small-12 medium-4'>
            <h6>About Us</h6>
            <ul>
              <li>
                <a href='/why_we_are_here/'>Why We Are Here</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% load staticfiles %}
    <script src={% static "js/vendor/jquery.js" %}></script>
    <script src={% static "js/vendor/what-input.js" %}></script>
    <script src={% static "js/vendor/foundation.min.js" %}></script>
    <script src={% static "js/app.js" %}></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-38994707-3', 'auto');
    ga('send', 'pageview');
    </script>
  </body>
</html>
