{% extends "base.html" %}

{% block meta %}
<meta name="description" content="free chat service from TheHopeLine">
{% endblock %}

{% block content %}
<div class='banner'>
  <div class='content-container'>
    <h1 class='salsa'>Online Chat: The Hope Line</h1>
  </div>
</div>
<div class='main'>
  <div class='content-container chat-width'>
    <div class='tab center'>
      <p>The Hope Line is an online Christian chat line. What they care most about is you! They'll help you, no matter where you're at, and will aim to get you connected to the best available local resources!</p>
      <iframe src="https://secure.livechatinc.com/licence/6982601/open_chat.cgi?groups=0&amp;lang=" class='hope-line-iframe'></iframe>
    </div>
  </div>
</div>
{% endblock %}
