{% extends "base.html" %}

{% block content %}
<div class='banner window-img'>
  <div class='content-container'>
    <h1 class='main-page'>Asking how to kill yourself?</h1>
    <h2 class='main-page'>You're not alone.</h2>
    <p style="font-size: 16px"><b>Are you asking how to kill yourself? We want you to know you are not alone – so many others have asked that question. We’d like to help you make another choice. It might feel impossible right now, but you matter, and the world is better with you in it.</b></p>
    <a href='tel:+12267897545' class='hide-for-medium btn phone-btn'>
      <i class='fa fa-phone'></i>
      <span class='name'>Call</span>
    </a>
    <a id='chatButton' href='https://www.thehopeline.com/gethelp' class='hide-for-medium btn'>
      <i class='fa fa-commenting-o'></i> Chat Now
    </a>
    <div class='hide-for-small-only'>
      <div id='hero-video-large'></div>
    </div>
    <div class='hide-for-medium'>
      <div id='hero-video-small'></div>
    </div>
  </div>
  <div class='cover'></div>
</div>

<div class="hide-for-small-only">
  <br>
  <a href='tel:+12267897545' class='btn phone-btn'>
    <i class='fa fa-phone hide-for-medium'></i>
    <span class='name'>Call</span>
    <span class='hide-for-small-only'>
      <br>
      <i class='fa fa-phone'></i>
      <span class='number'></span>
    </span>
  </a>
  <br>
  <a id='chatButton' href='https://www.thehopeline.com/gethelp' class='btn success'>
    <i class='fa fa-commenting-o'></i> Chat Now
  </a>
</div>
<br>
<div class="struggle">
    <h2>What are you struggling with?</h2>
</div>

<br>
<div class="btn-group" role="group" aria-label="...">
  <button id="depression" type="button" class="btn btn-default active">
    <div class='img-container'></div>
    <div class='cover'></div>
    <div class='relative'>
      <h5>Depression</h5>
    </div>
  </button>
  <button id="finances" type="button" class="btn btn-default">
    <div class='img-container'></div>
    <div class='cover'></div>
    <div class='relative'>
      <h5>Finances</h5>
    </div>
  </button>
  <button id="relationships" type="button" class="btn btn-default">
    <div class='img-container'></div>
    <div class='cover'></div>
    <div class='relative'>
      <h5>Relationship Problems</h5>
    </div>
  </button>
  <button id="loneliness" type="button" class="btn btn-default">
    <div class='img-container'></div>
    <div class='cover'></div>
    <div class='relative'>
      <h5>Loneliness</h5>
    </div>
  </button>
  <button id="bullying" type="button" class="btn btn-default">
    <div class='img-container'></div>
    <div class='cover'></div>
    <div class='relative'>
      <h5>Bullying</h5>
    </div>
  </button>
</div>

<div class='main tab-main'>
  <div class='content-container tab-content-container'>
	  <div id="tab-depression" class='tab'>
      <h3>Depression</h3>
      <p>
    		It sounds like you might be experiencing some really significant depressive thoughts, that are causing you to search how to kill yourself. Living with depressing thoughts can be so difficult and draining. It can feel like there is a dark cloud over you, sucking away any positivity you could feel. I am so sorry you are going through this. Being in such a dark place makes it almost impossible to see any light through that cloud.
      </p>
      {% load staticfiles %}
      <img src={% static "images/rain-window.jpg" %} alt="Rain window">
      <p>
        There is light out there though, you have felt it before and you can absolutely feel it again. What you are feeling may be overwhelming but it is not permanent.
      </p>
      <p>
        There are people who want walk with you in the journey to find that light. They want nothing more than to join you where you are and listen to your story. A great place to turn is a local counselling agency or pastor.
      </p>
      <p>
        We’ve also got a list of links below if you’d like to check them out:<br>
        <a href='https://issuesiface.com/depression'>https://issuesiface.com/depression</a><br>
        <a href='http://depressionhurts.ca/en/default.aspx'>http://depressionhurts.ca/en/default.aspx</a><br>
        <a href='http://www.supportgroupscentral.com/depression/'>http://www.supportgroupscentral.com/depression/</a>
      </p>
	  </div>
  </div>
</div>
<div class='main tab-main'>
  <div class='content-container'>
	  <div id="tab-finances" class='tab'>
		  <h3>Finances</h3>
      <p>
        When you find yourself in such significant financial debt that you can’t see a way out it becomes hard to think about anything else. The thought of that debt becomes so overwhelming that it puts blinders to everything else in your life, making it feel like there is no escape. The walls of bills and debts can get you into a canyon of despair and hopelessness. While that canyon may be deep and narrow there is still an opening above you that you are capable of reaching.
      </p>
      {% load staticfiles %}
      <img src={% static "images/child.jpg" %} alt="child">
      <p>
        You can get out. You are not alone.
      </p>
      <p>
        There are people who want to walk alongside you and help you find the path that is going to get you out of that canyon. You are so much more than your finances and you can bring yourself out of the canyon they have you in.  Many agencies have financial coaches and counselors who are specifically trained to help you out of both the debt and the despair.
      </p>
      <p>
        We’ve also got a list of links below with some resources if you’d like to check them out:<br>
        <a href='https://issuesiface.com/debt'>https://issuesiface.com/debt</a>
      </p>
	  </div>
  </div>
</div>
<div class='main tab-main'>
  <div class='content-container tab-content-container'>
	  <div id="tab-relationships" class='tab'>
		  <h3>Relationship problems</h3>
      <p>
        Being in a relationship that is unhealthy or the ending of a relationship can put you down into a place where it is really hard to know where to turn. It can be hard to imagine how to get away or  how to move on. It can make you feel like you are trapped in a room where the lights are off and there is no way to find the door. This is such a scary place to be, especially when you feel like you are alone.
      </p>
      {% load staticfiles %}
      <img src={% static "images/woman-window.jpg" %} alt="Woman window">
      <p>
        There are two very important things to know; the room does have a door and it takes only the faintest spark to be able to see enough to find it. There are people who want to help you see in that dark room and guide you towards the way out.
      </p>
      <p>
        That door opening could be escaping the abuse or just moving on from the ending of the relationship, but no matter what the door looks like for you, you can get to it. Those people to help you find the door can take many shapes, it could be a trusted friend, a family member, a pastor, or a counselor.
      </p>
      <p>
        We’ve also got a list of links below with some resources if you’d like to check them out:<br>
        Domestic Violence Hotline: 1-800-799-7233   or <a href='http://www.thehotline.org/what-is-live-chat/'>http://www.thehotline.org/what-is-live-chat/</a><br>
        <a href='https://issuesiface.com/grief'>https://issuesiface.com/grief</a><br>
        <a href='https://issuesiface.com/grief'>https://issuesiface.com/domestic-violence</a><br>
        <a href='http://www.helpguide.org/articles/family-divorce/coping-with-a-breakup-or-divorce.htm'>http://www.helpguide.org/articles/family-divorce/coping-with-a-breakup-or-divorce.htm</a>
      </p>
	  </div>
  </div>
</div>
<div class='main tab-main'>
  <div class='content-container tab-content-container'>
    <div id='tab-loneliness' class='tab'>
      <h3>Loneliness</h3>
      <p>
        When you feel so alone that you can’t even imagine anyone ever being close to you or connecting with you, it can feel like you are on a raft in the middle of an empty ocean. That raft can feel like it is just drifting in the waves getting beaten down by the unrelenting sun of stress and anxiety. All you can see from your raft is water and more water.
      </p>
      {% load staticfiles %}
      <img src={% static "images/beach.jpg" %} alt="beach">
      <p>
        Though it is hard to see them from beyond the horizon, there are people searching for you.
      </p>
      <p>
        The ocean is a big place and the searchers just need some indication of how to find you. It might feel like you have been putting up signals for a long time now but try one more time.
        There are people who truly want to help bring you back to shore.. Pastors or counselors are wanting to help and want to find you, give them one more chance.
      </p>
      <p>
        We’ve also got a list of links below with some lifelines if you’d like to check them out:<br>
        <a href='https://issuesiface.com/loneliness'>https://issuesiface.com/loneliness</a><br>
        <a href='http://psychcentral.com/blog/archives/2012/07/16/10-more-ideas-to-help-with-loneliness/'>http://psychcentral.com/blog/archives/2012/07/16/10-more-ideas-to-help-with-loneliness/</a><br>
        <a href='http://www.counseling.ufl.edu/cwc/how-to-deal-with-loneliness.aspx'>http://www.counseling.ufl.edu/cwc/how-to-deal-with-loneliness.aspx</a>
      </p>
    </div>
  </div>
</div>
<div class='main tab-main'>
  <div class='content-container tab-content-container'>
    <div id="tab-bullying" class='tab'>
      <h3>Bullying</h3>
      <p>
        Being picked on or bullied, whether it is one time or constantly, whether it’s in person or online, can make you feel like people have trapped you in a punching bag. You feel unable to move away from the people attacking you as they hit you with painful emotional hit after painful emotional hit. The material of the bag is holding you in but it feels like your spirit is getting close to breaking, like you can’t take any more hits. The pain is getting close to unbearable. I am so sorry you are being put through this.
      </p>
      {% load staticfiles %}
      <img src={% static "images/feet-forward.jpg" %} alt="feet forward">
      <p>
        I want you to know you are not a punching bag, and those people have no right or justification for what they are doing. I want to invite you to escape from the bag.
      </p>
      <p>
        There are people who are around you who really want to work with you to stop you from feeling trapped in that punching bag. The people attacking you are wrong, you are valuable, you are loved, and you are special. You are a valuable gift to the world. Connecting with a mentor, pastor, or counselor can help you feel value and healing in your life.
      </p>
      <p>
        We’ve also got a list of links below if you’d like to check them out:<br>
        <a href='https://issuesiface.com/bullying'>https://issuesiface.com/bullying</a><br>
        <a href='http://www.erasebullying.ca/index.php'>http://www.erasebullying.ca/index.php</a><br>
        <a href='https://www.bullyingcanada.ca/'>https://www.bullyingcanada.ca/</a><br>
        Bullying Hotline 1-877-352-4497<br>
        <a href='mailto:Support@BullyingCanada.ca'>Support@BullyingCanada.ca</a>
      </p>
    </div>
  </div>
</div>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://howtokillyourself.org",
  "name": "How to Kill Yourself",
  "author": {
     "@type": "Organization",
     "name": "Searching4Hope",
     "logo": "http://www.searching4hope.com/wp-content/uploads/2017/06/s4h.png"
   },
  "description": "Asking how to kill yourself? You're not alone.",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://howtokillyourself.org/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

<script src="https://www.youtube.com/iframe_api"></script>
<script>
  var clickTab = function(index) {
    $('html, body').animate({
      scrollTop: $("#tab-" + index).offset().top - 30
    }, 750);
  };
  $(document).ready(function() {
  	$("#relationships").click(function(){
      clickTab('relationships');
  	});
  	$("#bullying").click(function() {
  		clickTab('bullying');
  	});
  	$("#loneliness").click(function() {
  		clickTab('loneliness');
  	});
    $("#depression").click(function() {
      clickTab('depression');
    });
    $("#finances").click(function() {
      clickTab('finances');
    });
    $(document).foundation();
  });

  var hasPlayedVideo = false;

  var trackPlayEvent = function(event) {
    if ((event.data == YT.PlayerState.PLAYING) && !hasPlayedVideo) {
      hasPlayedVideo = true;
      ga('send', {
        hitType: 'event',
        eventCategory: 'Videos',
        eventAction: 'play',
        eventLabel: '"For Those Considering Suicide"'
      });
    }
  }

  function onYouTubeIframeAPIReady() {
    var playerLarge = new YT.Player('hero-video-large', {
      height: '315',
      width: '560',
      videoId: 'IqqIV8x82Qc',
      events: {
        'onStateChange': function(event) {
          trackPlayEvent(event);
        }
      }
    });

    var playerSmall = new YT.Player('hero-video-small', {
      height: '180',
      width: '280',
      videoId: 'IqqIV8x82Qc',
      events: {
        'onStateChange': function(event) {
          trackPlayEvent(event);
        }
      }
    });
  }

  initLocation('{{ loc }}');
</script>
{% endblock %}

