{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Find valuable resources and stories from people who have been through similar situations.">
{% endblock %}

{% load staticfiles %}
{% block content %}
<div class='banner'>
  <div class='content-container'>
    <h1>Resources</h1>
  </div>
  <a href='tel:+12267897545' class='btn phone-btn'>
    <i class='fa fa-phone hide-for-medium'></i>
    <span class='name'>Call</span>
    <span class='hide-for-small-only'>
      <br>
      <i class='fa fa-phone'></i>
      <span class='number'></span>
    </span>
  </a>
  <br>
  <a id='chatButton' href='/chat/' class='btn success'>
    <i class='fa fa-commenting-o'></i> Chat Now
  </a>
</div>

<div class='main'>
  <div class='content-container resources'>
    <div class='row columns'>
      <h3>Links</h3>
    </div>
    <div class='row'>
      <div class='columns hide-for-small-only medium-3 center'>
        <a href="http://p2c.com/"><img src={% static "images/logos/p2c-white-logo.png" %} /></a>
      </div>
      <div class='columns small-12 medium-9'>
        <b>Power To Change</b><br>
        <a href="http://p2c.com/2016/10/03/finding-hope-face-death/">Finding Hope in the Face of Death</a>
        <br>
        <a href="http://p2c.com/receive/#receive">Need someone to talk to?</a>
      </div>
    </div>
    <div class='row'>
      <div class='columns hide-for-small-only medium-3 center'>
        <a href="http://suicideprevention.ca/need-help/im-having-thoughts-of-suicide/"><img src={% static "images/logos/CASP-white-logo.png" %} /></a>
      </div>
      <div class='columns small-12 medium-9'>
        <b>Canadian Association for Suicide Prevention</b><br>
        <a href="http://suicideprevention.ca/need-help/im-having-thoughts-of-suicide/">I'm having thoughts of suicide</a>
      </div>
    </div>
    <div class='row'>
      <div class='columns hide-for-small-only medium-3 center'>
        <a href="https://www.thehopeline.com/gethelp/"><img src={% static "images/logos/THL-Logo.png" %} /></a>
      </div>
      <div class='columns small-12 medium-9'>
        <b>The Hope Line</b><br>
        <a href="https://www.thehopeline.com/patricks-story/">Patrick's Story: I tried to kill myself</a>
        <br>
        <a href="https://www.thehopeline.com/what-to-do-when-you-feel-suicidal/">What To Do When You Are Feeling Suicidal</a>
        <br>
        <a href="https://www.thehopeline.com/i-jumped-off-of-a-freeway-overpass/">Quinn’s Story: I Jumped Off of a Freeway Overpass</a>
        <br>
        <a href="https://www.thehopeline.com/gethelp/">TheHopeLine - Live Chat</a>
      </div>
    </div>
    <br><br>
    <div class='row columns'>
      <h3>Statistics</h3>
    </div>
    <div class='row columns'>
      <p>
        We look to Google for answers.  Even the answer to “How to Kill Yourself”.  Over 8,000 people in Canada alone search using those keywords every month. Click on the link below to learn more about the statistics on suicide in Canada. And remember, there is hope.
      </p>
      {% load staticfiles %}
      <a href={% static "suicide-statistics.pdf" %}><i class='fa fa-download'></i> Suicide statistics PDF download</a>
    </div>
  </div>
</div>

<script>
  initLocation('{{ loc }}');
</script>

{% endblock %}

