{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block meta %}
<meta name="description" content="Sure, we’ve never met – but WE CARE ABOUT YOU.  We’re glad you’re here, and we want to help.">
{% endblock %}

{% block content %}
<div class='banner banner-image no-bottom-margin'>
  <div class='content-container'>
    <h1 class='salsa'>Why are we here?</h1>
  </div>
</div>

<div class='main tab-main tab-main-light'>
  <div class='content-container'>
    <div class='tab'>
      <p>Why are we doing this?</p>

      <p>Sure, we’ve never met – but WE CARE ABOUT YOU.  We’re glad you’re here, and we want to help.</p>
      {% load staticfiles %}
      <img src={% static "images/city-bokeh-lights.jpg" %}>

      <p>When you’re feeling desperate, when ANYONE is feeling desperate, we want you to know that it matters - someone cares.  We wanted to create a website that climbs to the top of your search engine, making it easier for people to find a site powered by people who care, and who want you to find the stuff you need to save your life, not to help you end it.</p>

      <p>Our goal is to provide links and resources that are available in your area RIGHT NOW.  Whether you need help, or know someone who does, our site is designed to find you the best, location-based information out there for suicide prevention, intervention and postvention, and anywhere in between.  We do the searching so you don’t have to.</p>

      <p>Okay, so we’ve said we care. A lot.  You might be asking why.  Well, it’s because Jesus loves us.  He loves you.  And we know the HOPE we have found in Him, and we hope that you find it too.</p>
    </div>
  </div>
</div>

<script>
   $(document).ready(function() {
      $(document).foundation();
   })
</script>
{% endblock %}

